exclude: "^node_modules/|vendor/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        # Prettier detecta automáticamente casi todos estos archivos,
        # pero aquí los especificamos para mayor claridad.
        types_or:
          [javascript, jsx, ts, tsx, css, scss, html, json, yaml, markdown]
